altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
bcrypt==3.1.7
beautifulsoup4==4.9.3
cachelib==0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clarifai==2.6.2
click==7.1.2
configparser==5.0.0
cryptography==3.3.2
cssselect==1.1.0
decorator==4.4.2
Deprecated==1.2.10
distlib==0.3.1
EasyProcess==0.3
emoji==0.6.0
filelock==3.0.12
Flask==1.1.1
Flask-WTF==0.14.3
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.32.0
howdoi==2.0.7
idna==2.8
instapy==0.6.11
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
keep==2.10
lxml==4.6.1
MarkupSafe==1.1.1
MeaningCloud-python==2.0.0
mkvtomp4==2.0
mss==3.2.1
pefile==2019.4.18
plyer==1.4.3
protobuf==3.13.0
pycparser==2.20
pycryptodome==3.9.6
PyGithub==1.53
Pygments==2.7.2
PyInstaller==3.6
PyJWT==1.7.1
pynput==1.6.6
pyOpenSSL==19.1.0
pyquery==1.4.1
python-telegram-bot==13.0
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2020.9.27
requests==2.22.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
terminaltables==3.1.0
tornado==6.0.4
tqdm==4.50.2
tzlocal==2.1
urllib3==1.25.10
virtualenv==20.0.31
webdriverdownloader==1.1.0.3
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
